@import '../../css-config/mixins.scss';

.popular-header {
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    overflow-x: hidden;

    .header {
        font-size: 2rem;
        margin: 2rem 2.5rem;
        padding-top: 1rem;
        font-weight: 600;

        @include md {
            font-size: 3rem;
        }

    }

    .text {
        display: flex;
        justify-content: space-between;
        align-items: start;
        flex-direction: column;
        width: 100%;
        // margin: auto;

        @include md {
            flex-direction: row;

        }

        .innertext {
            width: 100%;
            margin-left: 2.8rem;
            font-size: 1.2rem;

            @include md {
                width: 50%;
            }
        }

        .view-btn {
            color: green;
            font-size: 1.4rem;
            padding: .5rem 1.5rem;
            border-radius: 2rem;
            font-weight: 500;
            background: rgb(196, 245, 196);
            margin-left: 2.8rem;
            margin-top: 1rem;

            @include md {
                margin-right: 4rem;

            }
        }
    }

    .item {
        display: flex;
        width: 95%;
        margin: 1rem auto;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}