@import "../../../css-config/mixins.scss";

.home-header {
  // background: red;
  box-sizing: border-box;
  z-index: 0 !important;

  @include md {
    margin: 0rem 2rem;
  }

  .container-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    border-radius: none;

    @include md {
      border-radius: 1.5rem;
    }

    overflow: hidden;

    .text-box {
      position: absolute;
      // z-index: 1;
      margin-left: 1rem;

      @include lg {
        position: static;
        width: 50%;
        padding: 3.5rem;
        background: rgba($color: #000, $alpha: 0.01);
        height: 100%;
      }

      .header {
        font-size: 4.5rem;
        font-weight: 700;
      }

      h4 {
        margin-top: 1rem;
        font-weight: 400;
        margin-left: 0.5rem;
        font-weight: 500;
        color: white;

        @include md {
          color: black;
        }
      }

      a {
        text-decoration: none;
      }

      .video-click {
        border: 1px solid green;
        background: #fff;
        padding: 0.5rem 1rem;
        border-radius: 2rem;
        margin: 2rem 1rem;
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        span {
          font-size: 1.2rem;
          color: green;
        }
      }
    }

    .img-box {
      width: 100vw;
      position: relative;

      @include lg {
        width: 50%;
      }

      .homeImg{
        z-index: -1100;
      }
      .video-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 15rem;
        width: 26rem;
        z-index: 10;
        .video {
          position: relative;
          height: 100%;
          width: 100%;

          video {
            height: 100%;
            width: 100%;
          }

          .cross {
            position: absolute;
            background-color: red;
            font-size: 2rem;
            padding: 0.5rem;
            border-radius: 50%;
            top: 0;
            right: 0;
            transform: translate(50%, -50%);
            z-index: 10000;
            cursor: pointer;
          }
        }
      }

      img {
        position: relative;
        width: 100vw;
        height: 100vh;
        object-position: center;
        object-fit: cover;

        @include md {
          height: 90vh;
        }
      }
    }

    .midle-upper-box {
      // display: none;

      position: absolute;
      border: 1px solid green;
      display: flex;
      justify-content: center;
      align-items: center;
      bottom: 2rem;
      background: white;
      padding: 0;
      border-radius: 3rem;

      @include lg {
        padding: 0;
        right: 1rem;
      }

      li {
        list-style: none;
        color: black;
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: start;
        text-wrap: nowrap;
        padding: 0;
        margin: 0;
        border-left: 0.3px solid green;
        font-weight: 300;
        cursor: pointer;

        &:first-child,
        &:last-child {
          border: none;
        }

        .icon {
          margin: 1px 0.8rem;
          color: green;
        }

        .up-head {
          display: block;
          font-weight: 600;
          cursor: pointer;
        }

        &.none {
          display: none;

          @include md {
            display: flex;
          }
        }

        @include lg {
          padding: 0 1rem;
          margin: 0 0.3rem;
        }
      }

      .location-box {
        margin: auto;
        background-color: green;
        padding: 0.3rem;
        border-radius: 1.5rem;
        cursor: pointer;

        @include md {
          padding: 1rem;
        }

        .icon {
          color: black;
        }
      }
    }
  }
}

